/* ==UserStyle==
@name          	ProtonMail Compact (For Beta Layout)
@version        1.0.5
@description    A compact version of Protonmail's beta layout with customizable options! Includes ProtonContacts and did the best I could with ProtonCalendar as I don't have full access to that yet!
@updateURL      https://codeberg.org/Freeplay/UserStyles/raw/branch/main/protonmail-compact.user.css
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page/)
@homepageURL    https://codeberg.org/Freeplay/UserStyles
@supportURL     https://codeberg.org/Freeplay/UserStyles/issues

 -- OPTIONS --
@var checkbox compactHeader  "Compact Header" 1

@var text toolbarHeight      "Toolbar Height" 40px

@var text mainWidth          "Emails list Width" 450px

@var checkbox toolbarHeader  "Combine header and toolbar" 0

@var checkbox compactPreview "Compact Email Preview" 1

@var checkbox compactSidebar "Compact Sidebar" 1
@var text sidebarWidth       "Compact Sidebar Open Width" 220px

==/UserStyle== */
@-moz-document domain("beta.protonmail.com"), domain("account.protonmail.com"), domain("contacts.protonmail.com"), domain("calendar.protonmail.com") {
	* {
		transition: width .7s, height .2s, padding .2s, background-color .2s;
	}
	if compactHeader || toolbarHeader {
		.header {
			height: 56px;
			padding: 0;
			overflow: hidden;
		}
		.header > * {
			margin-top: 0;
			margin-bottom: 0;
		}
		.logo-container {
			width: auto;
			padding: 0;
			flex-shrink: 0 !important;
			margin-right: auto;
		}
		.logo-link {
			order: 2;
			min-width: unset !important;
		}
		.logo-container button {
			width: 36px;
			margin: 0 10px;
		}
		
		.searchbox-container {
			 margin: 0 20px;
			 overflow: hidden;
			 transition: width .7s !important;
			 width: 100%;
		 }
		 .searchbox-field[type="search"] {
			 background: none;
		 }

		 .header > div:last-child {
			 flex: 0 !important;
			 width: auto !important;
			 min-width: unset !important;
		 }
		 .header > div:last-child > ul {
			 width: max-content !important;
			 margin: 0 !important;
		 }
	}
	
	/* TOOLBAR */
	.toolbar {
		height: toolbarHeight;
	}
	
	if toolbarHeader {
		.header {
			background: none !important;
			transition: background .5s .2s, z-index 0s 1s;
		}
		.logo-container {
			margin-right: 0 !important;
		}
		.sidebar, .content > * {
			background: inherit;
			z-index: 12;
			position: relative;
		}
		.searchbox-container {
			width: 72px;
			padding: 0 !important;
			margin-left: 0 !important;
			margin-right: auto;
			margin-right: 10px !important;
			background-color: inherit;
			z-index: 100;
		}
		.header:focus-within {
			z-index: 21;
			background: inherit !important; 
			transition: background .5s;
		}
		.searchbox-container:focus-within {
			width: 100%;
		}
		
		.topnav-container {
			margin-left: auto;
		}
		
		.header .topnav-list .topnav-link svg {
			margin: 0 !important;
		}
		.header .topnav-list .topnav-link span {
			display: none;
		}
		.header .topnav-list > .relative {
			max-width: 225px !important;
		}
		
		.main {
			border-top-left-radius: 12px;
			border-top: 1px solid var(--bordercolor-input);
			border-left: 1px solid var(--bordercolor-input);
		}
		.items-column-list-inner {
			border-left: 0 !important;
		}
		.toolbar {
			position: absolute;
			top: -56px;
			left: 290px;
			z-index: 20;
			height: 56px !important;
			width: calc(100vw - 650px);
			max-width: calc(100vw - 670px);
			background: none;
			border: none !important;
			box-shadow: none !important;
			overflow-x: auto;
			flex-wrap: nowrap !important;
			scrollbar-width: thin;
		}
		.toolbar::before {
			content: "";
			position: sticky;
			left: -20px;
			margin-left: -20px;
			width: 20px;
			min-width: 20px;
			height: 100%;
			display: flex;
			box-shadow: 0px 0 10px 10px #262a33;
			z-index: 2;
		}
		.toolbar::after {
			content: "";
			position: sticky;
			right: -20px;
			margin-right: -20px;
			width: 20px;
			min-width: 20px;
			height: 100%;
			display: flex;
			box-shadow: 0px 0 10px 10px #262a33;
			z-index: 2;
		}
		.toolbar > div:last-child {
			margin: 0 !important;
			margin: auto !important;
			height: 100%;
		}
		.toolbar > .flex {
			display: contents;
		}
		.toolbar > .flex > *:not(.toolbar-separator), .toolbar > * {
			flex-grow: 1;
			flex-shrink: 0;
		}
		.toolbar-select {
			background: none !important;
		}
		.toolbar-separator {
			margin: 20px 0;
			flex-grow: 0 !important;
		}
	}
	
	
	/* COLUMN */
	.items-column-list {
		width: mainWidth;
	}
	
	if compactPreview {
		.view-column-detail .pb1 {
			padding-bottom: .5em;
			display: flex;
		}
		.view-column-detail .pb1 .mb1 {
			flex-grow: 1;
		}
		.view-column-detail .pb1 > div {
			margin-bottom: 0;
		}
		.message-conversation-summary-star {
			display: flex;
			align-items: center;
			padding: 0 !important;
			margin-right: 15px;
			margin-left: auto;
		}
		.view-column-detail .pt0-5 {
			padding-top: 0;
		}
		.message-container {
			margin: 0;
			margin-bottom: 1rem;
		}
		#conversation-view header {
			padding-left: 25px;
		}
		.message.marked {
			border: none;
		}

		.message-container {
			border: none;
		}
	}
	
	/* Sidebar */
	.sidebar {
		width: sidebarWidth;
	}
	if compactSidebar {
		.sidebar, .content > * {
			background: inherit;
			z-index: 12;
			position: relative;
		}
		.sidebar {
			width: 56px;
			max-height: 100%;
			transition: width .2s, margin .2s, transform .2s, box-shadow .2s;
			overflow-x: hidden;
			z-index: 2;
			box-shadow: 6px 6px 6px rgba(0,0,0,0);
		}
		.sidebar:hover, .sidebar:focus-within {
			width: sidebarWidth;
			margin-right: - sidebarWidth !important;
			box-shadow: 6px 6px 6px rgba(0,0,0,0.4);
		}
		.main {
			transition: margin .2s;
			z-index: 0 !important;
			border-top-left-radius: 8px;
		}
		.sidebar:hover + .main, .sidebar:focus-within + .main {
			margin-left: 56px;
		}
		.sidebar .navigation {
			overflow-x: hidden !important;
			scrollbar-width: none !important;
		}
		.sidebar:hover .navigation, .sidebar:focus-within .navigation {
			scrollbar-width: thin !important;
		}
		.sidebar .minicalendar {
			filter: opacity(0) !important;
			height: 0;
			transition: filter .2s, height .5s;
			overflow: hidden;
		}
		.sidebar:hover .minicalendar, .sidebar:focus-within .minicalendar {
			height: 250px;
			filter: opacity(1) !important;
		}
		.minicalendar-day {
			min-width: 2em;
			border-radius: 100px !important;
		}
		.sidebar .navigation__link--groupHeader {
			filter: opacity(0) !important;
			height: 0;
			transition: height .2s, filter .2s;
			margin: .95rem 1em .95rem 2rem;
			padding: 0 !important;
		}
		.sidebar:hover .navigation__link--groupHeader, .sidebar:focus-within .navigation__link--groupHeader {
			height: 22px;
			filter: opacity(1) !important;
		}
		.sidebar .navigation__item [data-level="1"] {
			filter: opacity(0);
			height: 0;
			transition: height .2s, filter 1s;
		}
		.sidebar:hover .navigation__item [data-level="1"], .sidebar:focus-within .navigation__item [data-level="1"] {
			height: 21px;
			filter: opacity(1);
		}
		.sidebar .navigation__item .ellipsis {
			filter: opacity(0);
			transition: filter .2s;
		}
		.sidebar:hover .navigation__item .ellipsis, .sidebar:focus-within .navigation__item .ellipsis {
			filter: opacity(1);
		}
		.sidebar .navigation__item .flex-items-center > .flex-items-center {
			position: sticky;
			right: 6px;
			min-width: 20px !important;
			transform: translatey(10px);
			transition: transform .5s, margin .5s .2s;
			display: grid;
		}
		.sidebar .navigation__item .flex-items-center > .flex-items-center [href="#shape-reload"] {
			filter: opacity(0);
		}
		.sidebar .navigation__item .flex-items-center > .flex-items-center .navigation__counterItem {
			justify-self: flex-end;
		}
		.sidebar:hover .navigation__item .flex-items-center, .sidebar:focus-within .navigation__item .flex-items-center {
			transform: none;
		}
		.sidebar .pm-button--large {
			overflow: hidden;
			font-size: .9rem;
			transition: font-size .35s, color .2s, margin .6s, transform .2s;
			margin: 0 auto;
			color: transparent !important;
			white-space: nowrap;
			margin-top: 6px;
			border-radius: 24px;
			background: none;
		}
		.sidebar:hover .pm-button--large, .sidebar:focus-within .pm-button--large {
			font-size: 1.4rem;
			color: unset !important;
			margin-top: 6px;
			transform: none !important;
		}
		.navigation__icon, .menuLabel-item svg {
			min-width: 16px;
			margin-right: 3rem;
			transition: margin .5s;
		}
		.sidebar:hover .navigation__icon, .sidebar:hover .menuLabel-item svg,
 		.sidebar:focus-within .navigation__icon, .sidebar:focus-within .menuLabel-item svg{
			margin-right: 1.25rem;
		}
		.sidebar .navigation__sublink {
			padding-left: 2.5rem;
			transition: padding .5s;
		}
		.sidebar:hover .navigation__sublink {
			padding-left: 1.5rem;
		}
		/* Sidebar Footer */
		.sidebar .aligncenter.opacity-50.mb0-5 {
			filter: opacity(0);
			height: 17px;
			min-width: sidebarWidth;
			transition: filter .2s;
		}
		.sidebar:hover .aligncenter.opacity-50.mb0-5 {
			filter: opacity(1);
		}
	}
}