/* ==UserStyle==
@name           Userstyles.World Tweaks!
@version        1.1.3
@description    Tweaks for Userstyles.World!
@updateURL      https://codeberg.org/Freeplay/UserStyles/raw/branch/main/Userstyles.world_tweaks.user.css
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page/)
@homepageURL    https://codeberg.org/Freeplay/UserStyles
@supportURL     https://codeberg.org/Freeplay/UserStyles/issues

 -- VARS --
@var checkbox fixedHeader "Fixed Header" 1

@var checkbox pillHeader "Pill header style (Disabled on mobile)" 1

@var checkbox blurEffects "Blur Effects" 1

@var select   widthType "Width type" ["Regular", "Full-Width:Full-Width (Disabled on mobile)", "Responsive*"]

@var checkbox altCards "Alternative Cards" 1

@var select columnStyle "Style Page Style" ["Regular", "Side-By-Side", "Style-Default*"]

@var checkbox altHeaders "Alternative Header Layout" 1

@var checkbox betterChips "Better stat chips" 1

@var checkbox gradient "Better Headers" 1
@var checkbox gradientUnderline "Gradient Underlines" 1

@var checkbox capitalizeUser "Capitalize Usernames" 1

@var checkbox altFooter "Alternative Footer" 1

==/UserStyle== */
/* 1.1.3
- Some fixes
- Tweaked Header
- Removed custom color theme
- Style Page Style: Style-Default
- - Horizontal wrapping w/ flex-grow
- - Widened page a little
- Added tweak to capitalize usernames
*/
@-moz-document domain("userstyles.world") {
	.btn {
		border: 0;
	}

	if fixedHeader {
		body > nav {
			position: sticky;
			top: -1.7em;
			z-index: 100;
			min-height: 70px;
			display: flex;
			flex-direction: column;
			padding-top: 16px !important;
			border-bottom: 1px solid var(--bg-2);
			border-bottom: none;
			box-shadow: 0 0 24px rgba(0,0,0,0.1);
			& > .wrapper {
				margin: 0 auto !important;
				height: min-content;
				padding: 0 30px;
				margin-bottom: -3em;
				position: sticky;
				top: 10px;
				min-height: 40px;
				align-items: center;
				max-width: calc( var(--layout-max-width) + 30px);
				// align-items: center;
				.mascot {
					height: 50px !important;
					margin-top: -5px;
					margin-bottom: -5px;
					margin-right: 0;
					padding: 0 !important;
				}
				.mascot svg {
					position: sticky;
					top: 12.5px;	
					margin-right: 5px;
				}
				.mascot span {
					font-weight: 800;
					font-size: 1.2em;
				}
				.menu-icon {
					top: unset;
					bottom: 18px !important;
					// height: 100% !important;
				}
				.menu {
					flex-grow: 1;
					padding-top: 0;
					padding-bottom: 0;
					width: 100%;
					justify-content: flex-end;
					li:first-child {
						flex-grow: 1;
						margin: 0 20px;
						.search {
							flex-grow: 1;
							// max-height: 100% !important;
							margin: 0;
							width: 100%;
							max-width: 500px !important;
							margin: auto;
							margin-top: -1px;
							input {
								background: none !important;
								width: 100%;
								border: 0;
								border-radius: 0;
								height: 42px;
								padding-left: 18px;
								box-shadow: none !important;
								&::placeholder {
									opacity: .8;
								}
							}
							button {
								height: unset !important;
								background: none;
								right: 8px;
							}
							&::before {
								content: "";
								position: absolute;
								top: 0px;
								left: 0;
								right: 0;
								bottom: 0px;
								background: var(--bg-3);
								z-index: -1;
								opacity: .5;
								border-radius: 100px;
								transition: opacity .2s;
							}
							&:hover:before {
								opacity: .6;
							}
							&:focus-within:before {
								opacity: .8;
							}
							&:focus-within input::placeholder {
								opacity: .7 !important;
							}
						}
					}
					li {
						height: auto !important;
						min-height: 35px !important;
						flex-direction: column;
						// font-size: 1.1em;
						a, input {
							width: 80%;
							flex-grow: 1;
							display: flex !important;
							align-items: center !important;
							white-space: nowrap !important;
							font-weight: 600;
							
						}
						a {
							font-size: .95em;
						}
					}
				}
				
			}
			if blurEffects && !pillHeader {
				background: none !important;
				backdrop-filter: blur(10px);
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: var(--bg-1);
					filter: brightness(1.5);
					z-index: -1;
					opacity: 0.5;
				}
			}
		}
	}
	if pillHeader {
		@media only screen and (min-width: 920px) {
			body > nav {
				background: none;
				border: 0;
				pointer-events: none !important;
				box-shadow: none;
				.wrapper {
					max-width: 100rem;
					padding: 30px 40px !important;
					.mascot, .menu {
						pointer-events: all !important;
						margin-top: 0 !important;
						background: var(--bg-2);
						padding: 0 20px !important;
						border-radius: 32px;
						height: 35px !important;
						position: relative;
						box-shadow: 0 1px 2px rgba(0,0,0,0.3);
						&.mascot {
							margin-right: auto;
							margin-bottom: 0 !important;
						}
						&.menu {
							width: max-content !important;
							flex: unset !important;
							padding-left: 0 !important;
							margin-left: 20px;
							
							li {
								margin-bottom: -1px !important;
							}
							li:first-child {
								margin: 0;
								width: 250px;
								transition: width .3s;
								form {
									display: flex;
									flex-direction: column;
									min-width: 100%;
									flex-grow: 1;
									&::before {
										content: none !important;
									}
								}
								input {
									border: 0;
									padding: 0 20px;
									width: 100% !important;
									transition: width .3s;
									height: 100%;
									box-shadow: none !important;
									outline: none !important;
									&::placeholder {
										color: var(--fg-1) !important;
										opacity: 1;
										transition: opacity .5s;
									}
								}
								button {
									border: 0;
									margin-bottom: -1px;
								}
								&:hover {
									width: 260px;
									input::placeholder {
										opacity: 1;
										
									}
								}
								&:focus-within {
									width: 500px;
									transition: width .25s;
									button {
										display: block;
									}
									input::placeholder {
										color: var(--fg-1) !important;
										opacity: .5;
									}
								}
							}
						}
						
						li:first-child a {
							margin-left: 0;
						}
						a::before {
							bottom: 0px !important;
						}
						a:hover:before {
							height: 4px !important;
							
						}
						if blurEffects {
							background: none;
							backdrop-filter: blur(10px);
							&::before {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background-color: var(--bg-2);
								border-radius: 32px;
								opacity: .5;
							}
						}
					}
				}

			}
		}
	}
	
	body > nav > .wrapper > ul li {
		height: 100%;
		display: flex;
		a, button {
			height: 100% !important;
			display: flex;
			align-items: center;
			&::before {
				bottom: -2.1px !important;
			}
			&:hover, &:focus {
				filter: brightness(1.5) !important;
			}
		}
	}
	
	
	if widthType == "Full-Width" || widthType == "Responsive" {
		// ewie bad selectors
		.wrapper > section[class="mt:m ta:c"] + section[class="mt:l"],
		.wrapper > section[class="mt:l"] + section[class="mt:l"] {
			display: flex;
			// flex-direction: column;
			align-content: center;
			justify-content: center;
			& > .grid {
				if widthType == "Full-Width" {
					min-width: calc(100vw - 80px);
					display: grid;
					grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
				}
				if widthType == "Responsive" {
					min-width: calc(100vw - 80px);
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
					padding: 0 calc(15vw - 100px);
				}
				.card {
					min-width: unset !important;
				}
			}
		}
	}

	html body > * > .wrapper {
		margin: 0 auto;
	}
	if altCards {
		.card {
			background: none;
			border: 0;
			.thumbnail {
				border-radius: 8px !important;
				overflow: hidden;
			}
			& > div.flex {
				border: 0;
				padding: 10px 0;
			}
			&.animate {
				transition: transform .2s;
				figure {
					transition: transform .2s;
					img {
						transition: transform .7s;
					}

					&::before {
						background-color: rgba(0,0,0,0.8) !important;
						transition: opacity .5s 0s !important;
					}
					&::after {
						color: #eee !important;
						transform: scale(1.04);
						transition: .2s 0s;
					}
				}
			}
			&.animate:hover, &.animate:focus {
				transform: translatey(-1px) !important;
				figure {
					transform: scale(1.02);
					img {
						transform: scale(1.02);
					}
					&::before {
						transition: opacity .5s .5s !important;
					}
					&::after {
						transform: none !important;
						transition: .5s .5s;
					}
				}
			}
		}
	}	
	
	
	if altHeaders {
		[class*="mt:m ta:c"] {
			text-align: left !important;
			display: flex !important;
			align-content: center;
			align-items: flex-end;
			margin: 0;
			justify-content: space-between;
			p {
				margin-bottom: .7em !important;
				margin-left: 1em !important;
			}
		}
		[class*="ta:c"] {
			text-align: left;
		}
		form, .err {
			margin: 1rem 0;
		}
	}
	if gradient {
		.motto {
			font-size: 1.3rem;
			font-weight: 600;
		}
		h1, .motto {
			background: -webkit-linear-gradient(245deg, #ffc400, #ff4000) !important;
			
			-webkit-background-clip: text !important;
			-webkit-text-fill-color: transparent !important;
		}
		h2 {
			text-decoration: none !important;
			border-bottom: 1px solid var(--bg-3);
			font-size: 1.2em;
		}
	}
	if gradientUnderline {
		@keyframes underlineAnimate {
			0% { width: 0%; left: 0; }
			100% { width: 100%; left: 0; }
		}
		a:not(.mascot):not(.card):not(.btn), a.mascot span, .link {
			position: relative;
			text-decoration: none !important;
			outline: none !important;
			&::before {
				content: "";
				width: 0%;
				height: 0px;
				right: 0;
				transition: right .3s, width .3s, height .2s !important;
				background: -webkit-linear-gradient(245deg, #ffc400, #ff4000);
				position: absolute;
				bottom: -.3em;
				border-radius: 100px;
			}
			&:hover:before, &:focus:before {
				content: "";
				width: 100%;
				height: .2em;
				animation: underlineAnimate .3s !important;
				
			}
		}
	}
	
	if betterChips || columnStyle == "Style-Default" {
		.details, .stats, .settings, .welcome, .socials {
			display: flex !important;
			flex-wrap: wrap;
			margin-top: 0;
			[class*="mt:m"], h1, h2, .md, form {
				width: 100%;
			}
			.sub-title {
				// display: none;
			}
		}
		.welcome > h1:first-child {
			margin-bottom: 6px;
		}
		.stats, .socials {
			& > h2 {
				display: none;
			}
		}
		.stats + [class="mt:m"] {
			margin-top: 0;
		}
		.welcome > h2[class="sub-title td:d mt:l"] {
			// display: none;
			margin-top: 8px;
			& + .md {
				// margin-top: 10px;
			}
		}
		.details > h2 {
			display: none;
		}
		.details  > p,
		.stats    > p,
		.settings > p,
		.socials > div,
		.id, .role, .joined {
			background: var(--bg-2);
			border-radius: 16px;
			// height: min-content;
			margin-bottom: 8px;
			margin-right: 8px;
			padding: 4px 16px;
			color: var(--fg-3);
			display: flex;
			// flex-direction: column;
			// grid-gap: 10px;
			position: relative;
			overflow: hidden;
			width: auto !important;
			span {
				min-width: unset;
				color: var(--fg-1);
				margin-right: 8px;
			}
			a {
				position: static !important;
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					transition: background .2s;
				}
				&::before {
					content: none !important;
				}
				&:hover:after {
					background: rgba(0,0,0,0.1);
				}
			}
		}
		.socials > div {
			border-radius: 6px;
			padding: 6px 12px;
		}
	}
	if capitalizeUser {
		h1.title,
		.card span[class="fg:4 my:0"],
		a[href*="/user/"],
		.preview > h1 > span {
			text-transform: capitalize !important;
		}
	}
	
	if altFooter {
		footer {
			border: none;
			// background: none;
			.wrapper {
				justify-content: flex-end;
				& > * {
					margin-right: 20px;
					font-weight: 600;
				}
			}
		}
	}
	
}


	// Uncomment below to torture Gopher :)
/*
		@keyframes uwu {
			from { transform: rotateZ(0deg) skewX(0deg);
				   filter: hue-Rotate(0deg)                }
			to {   transform: rotateZ(360deg) skewX(360deg);
				   filter: hue-Rotate(360deg) }
		}
		nav > .wrapper {
			overflow: hidden;
		}
		.mascot svg {
			animation: uwu 20s linear 1s infinite !important;
		}

*/
@-moz-document url-prefix("https://userstyles.world/style") {
	/* Style Page */
	if columnStyle == "Side-By-Side" {
		@media only screen and (min-width: 1000px) {
			main > .wrapper {
				display: flex;
				flex-wrap: wrap;
				position: relative;
				max-width: 110rem !important;
				justify-content: center;
				margin: 0 auto !important;
				padding: 40px !important;
				.preview {
					flex: 1 1 350px;
					// max-width: 600px;
					position: sticky !important;
					top: 70px;
					display: flex;
					flex-direction: column;
					box-sizing border-box;
					margin: 0 .5rem;
					overflow-y: auto !important;
					max-height: calc(100vh - 100px);
					scrollbar-width: thin;

					h1 {
						font-size: 1.5em;
						line-height: 1.3em;
						display: flex !important;
						flex-direction: column;
						span {
							font-size: .7em;
							font-weight: 500;
						}
					}
					.card {
						margin: 0 -20px;
						border-radius: 0 !important;
						picture {
							height: auto !important;
						}
						img {
							border-radius: 0px !important;
							height: auto !important;
						}
					}
					p {
						order: 2;
						margin: 0 -20px;
						padding: 20px;
						margin-top: 1rem;
						position: relative;
					}

				}
				.preview + section {
					flex: 2 1 400px;
					margin-top: 0;
					// margin: 0 .5rem;
					display: flex;
					flex-wrap: wrap-reverse;
					flex-direction: row;
					z-index: 1;
					background: var(--bg-1);
					align-items: flex-end;
					align-content: flex-end;
					.header {
						position: sticky;
						top: 70px;
						// padding: 10px 20px;
						display: flex;
						flex-direction: column-reverse;
						// width: 200px;
						flex: 1 0 200px;
						overflow: hidden;
						margin: 0 1rem;
						padding: 0;
						// order: -1;
						& > * {
							// border: 1px solid var(--bg-3);
							background: var(--bg-2);
							padding: 10px !important;
							border-radius: 6px;
							margin-bottom: 1rem !important;
							width: 100%;
						}
						.actions {
							display: flex;
							// flex-direction: column-reverse;
							flex-direction: row;
							flex-wrap: wrap-reverse !important;
							button, a {
								margin: 0 !important;
								margin-bottom: 8px !important;
								text-align: center;
								width: 180px;
								flex-grow: 1;
								&::after {
									content: none;
								}
							}
							a:last-child, button:last-child {
								margin-bottom: 0 !important;
							}
						}
						.share {
							display: flex;
							// flex-direction: column;
							flex-wrap: wrap;
							justify-content: space-between;
							max-width: 100%;
							span {
								margin-left: 10px;
								width: auto !important;
							}
							input {
								max-width: 100%;
								box-sizing: border-box;
								order: 2;
							}
						}
						span {
							width: 100%;
							display: flex;
							flex-wrap: wrap;
							flex-direction: column-reverse;
							& > *, button {
								flex-grow: 1; 
								text-align: center;
								height: 100%;
								box-sizing: border-box;
							}
							#install {
								order: 1;
							}
						}
					}
					.details {
						flex: 999 1 400px;
						order: -1;
						margin-left: 1rem;
						z-index: 2;
					}
					.code {
						width: 100%;
						z-index: 2;
						order: -3;
						margin: 1rem;
						margin-right: 232px;
						box-shadow: 0px -28px 0 var(--bg-1); 

					}
				}
				.preview, .preview + section > div {
					padding: 20px;
					// background: var(--bg-4);
					// border: 1px solid var(--bg-3);
					border-radius: 6px;
					margin-top: 0px;
					height: min-content;
					position: relative;
					overflow: visible;
					margin-bottom: 1rem;
					// box-shadow: 0 0px 2px rgba(0,0,0,0.2);


					.card {
						position: relative;
					}
				}
				.preview .card::before, .preview + section > div:not(.header)::before,
				.preview p::before {
					content: "";
					position: absolute;
					top: 0px;
					left: 0;
					right: 0;
					bottom: 0;
					background: var(--bg-2);
					z-index: -1;
					opacity: 1;
					border-radius: 6px;
				}
				.preview .card::before {
					top: -200px;
				}
			}
		}
	}
	
	if columnStyle == "Style-Default" {
		@media only screen and (min-width: 800px) {
			main > .wrapper {
				display: flex;
				flex-wrap: wrap;
				position: relative;
				margin-top: 0 !important;
				// max-width: 90rem !important;
				.preview {
					width: 100%;
					display: flex;
					flex-direction: column;
					
					.card {
						padding-left: 230px;
						min-width: 100%;
						margin-top: 30px;
						picture {
							padding: 0 !important;
							background-color: var(--bg-2);
							border-radius: 6px;
							overflow: hidden;
							height: 65vh;
							img {
								position: relative !important;
								height: 65vh !important;
								margin: 0 !important;
								object-position: center;
							}
						}
					}
					h1, p {
						margin-bottom: 0;
					}
				}
				.preview + section {
					display: flex;
					flex-wrap: wrap;
					padding-left: 230px;
					width: 100%;
					margin-top: 0;
					.header {
						display: flex;
						flex-direction: column-reverse;
						width: 200px;
						margin-top: calc(-65vh - 0rem);
						height: min-content;
						// margin-right: -230px;
						margin-left: -200px;
						transform: translatex(-30px);
						border-radius: 6px;
						// margin-left: auto;
						// transform: translateX(230px);
						position: sticky;
						top: 70px;
						max-height: 65vh;
						overflow-y: auto;
						// overflow-x: hidden;
						scrollbar-width: thin;
						::after {
							content: none;
						}

						& > * {
							border: 1px solid var(--bg-3);
							background: var(--bg-2);
							padding: 10px !important;
							border-radius: 6px;
							margin-bottom: 1rem !important;
							width: 100%;
						}
						.share {
							display: flex;
							// flex-direction: column;
							flex-wrap: wrap;
							justify-content: space-between;
							max-width: 100%;
							span {
								margin-left: 10px;
							}
							input {
								max-width: 100%;
								box-sizing: border-box;
								order: 2;
							}
						}
						.actions {
							display: flex;
							flex-direction: column-reverse;
							button, a {
								margin: 0 !important;
								margin-bottom: 8px !important;
								text-align: center;
								width: 100%;
							}
							a:first-child, button:first-child {
								margin-bottom: 0 !important;
							}
						}
					}

					.details {
						width: 100%;
						display: flex;
						flex-direction: row;
						position: relative;
						& > div {
							width: auto !important;
							justify-content: flex-start;
							flex-grow: 1;
							margin: 0 10px;
							margin-top: 1rem;
							h2 {
								margin-top: 0;
							}
						}
						& > p, & > .stats {
							width: 200px !important;
							display: flex;
							flex-direction: column;
							& > * {
								height: 24px !important;
							}
							height: 70px;
							position: absolute;
							// right: -230px;
							left: -230px;
							margin: 0 !important;
							border-radius: 0;
							border: 1px solid var(--bg-3);
							border-bottom: none;
							padding: 10px 15px;
							&:first-of-type {
								border-top-left-radius: 6px !important;
								border-top-right-radius: 6px !important;
								box-shadow: 0 -10px 10px var(--bg-1);
							}
							&:last-of-type {
								border-bottom-left-radius: 6px;
								border-bottom-right-radius: 6px;
								box-shadow: 0 30px 0px var(--bg-1) !important;
							}
						}
						& > .stats {
							display: flex !important;
							flex-direction: column !important;
							width: 200px;
							height: auto;
							padding: 0;
							border-radius: 8px;
							overflow: hidden;
							top: calc(-120px + 1rem) !important;
							box-shadow: 0 10px 10px var(--bg-1) !important;
							& > p {
								margin: 0;
								border-radius: 0;
								min-height: 45px;
								padding: 10px 15px;
								border-bottom: 1px solid var(--bg-3);
							}
						}
						for row in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 {
							& > p:nth-child({row}), & > .stats:nth-child({row}) {
							  margin-top: 70px * row !important;
							  // margin-top: -68px;
							  top: calc(-140px + 1rem);
							}
						}
					}

					.code {
						width: 100%;
						margin: 1rem 10px;
					}
				}
			}
		}
	}
	 
	
}