/* ==UserStyle==
@name           Twitter Tweaks
@version        1.3.0
@description    Uncrop images, hide trends, Avatar roundness, move header aside, and more!!
@updateURL      https://codeberg.org/Freeplay/UserStyles/raw/branch/main/twitter/twitter-tweaks.user.css
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page/)
@homepageURL    https://codeberg.org/Freeplay/UserStyles
@supportURL     https://codeberg.org/Freeplay/UserStyles/issues

@var text notice 'Make sure you are using the "Stylus" browser extension, not "Stylish"! — Style created by @FreeplayG' "'https://add0n.com/stylus.html'"

@var checkbox moveHeader     "↔ Timeline: Move header to sidebar" 1

@var checkbox uncrop         "🖼 Timeline: Uncrop Images (Content jumps may occur)" 1
@var checkbox maxHeight      "🖼 Timeline: Uncrop Images: Set max height to screen size" 1
@var select   fullWidthMedia "🖼 Timeline: Media Size" ["Default", "Larger*", "Full-Width"]
@var range    avatarRadius   "⚫ Timeline: Avatar Roundness" [30, 5, 50, 5, '%']
@var checkbox hideTweetBoxTL "⛔ Timeline: Compose " 1
@var checkbox hideTLFollow   "⛔ Timeline: Who to follow AND Topics to follow" 1
@var checkbox hideSpacers    "⛔ Timeline: Spacers " 0


@var checkbox resizeSidebar  "↔ Image Preview: Resize sidebar depending on image size" 1
@var checkbox removeImageBar "⛔ Image Preview: interaction bar" 0

@var checkbox noTrends       "⛔ Sidebar: What's Happening " 1
@var checkbox noFollowBox    "⛔ Sidebar: Who to follow " 1

@var checkbox noMessagesBox  "⛔ Sidebar: Messages " 1

@var color    themeColor     "🌈 Custom Theme Color" #1da1f2
@var select   noBorder       "⛔ Border Style" ["Default*", "Hide", "keep:Only Timeline Separators"]
@var checkbox columnBG       "💡 Contrast between background and feed" 1
@var checkbox bgBanner       "🖼 Use profile banners as background" 1

@var text     customBG 	     "🖼 Custom Background (Place image link in quotes, image MUST be uploaded from Twitter due to Content Security Policy)" '""'
@var range    customBGOpacity"🖼 Custom Background: Opacity" [1, 0.05, 1, .05]
@var range    customBGBlur   "🖼 Custom Background: Blur" [0, 0, 30, 5, 'px']

@var checkbox moreAnim       "🎞️ More Animations" 1
@var checkbox revertFont     "🇦 Revert Font" 0

@var checkbox followersCount "🖤 Wellbeing: Follower Count" 1
@var checkbox likesCount     "🖤 Wellbeing: Likes Count" 1
@var checkbox retweetsCount  "🖤 Wellbeing: Retweets Count" 1
@var checkbox commentsCount  "🖤 Wellbeing: Comments Count" 1
@var checkbox analyticsButton"🖤 Wellbeing: Analytics Button" 1


@var text noticeMobile "Below are options meant for Mobile Devices" '"Okay!"'

@var checkbox centerTweet     "Center Tweet Button" 1
@var checkbox largerBottomBar "Larger Bottom Bar" 0
@var checkbox bottomHeader    "Move header to bottom" 1

@var text     haha            "💸 Haha, maybe?" '"https://www.patreon.com/freeplayg"'


==/UserStyle== */

/* Update 1.3.0
- Better Mobile Support
- Improvements to uncrop images + other things
*/
@-moz-document domain("twitter.com") {
	
	html {
		scrollbar-color: rgba(155,155,155,0.5) transparent;
		
		
	}
	
	if customBG != "" {
		body::before {
			content: "";
			background-image: url(customBG);
			background-size: cover;
			background-position: center;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: customBGOpacity;
			filter: blur(customBGBlur);
			z-index: -100;
		}
		
		nav, [data-testid="SideNav_AccountSwitcher_Button"] {
            if (customBGOpacity * 1.5 - .7) > 0 {
                border-radius: 16px;
                &:not([data-testid="SideNav_AccountSwitcher_Button"]) {
                    padding: 8px 12px;
                }

                header & {
                    padding: 6px !important;
                    max-width: 225px;
                    transition: padding .2s !important;
                    @media only screen and (max-width: 1278px) {
                        padding: 0 !important;
                        border-radius: 100px !important;
                        transition: padding .2s, border-radius .2s !important;
                    }
                }
            }
			body[style*="background-color: rgb(21"] & {
				background-color: alpha(rgb(21, 32, 43), customBGOpacity * 1.5 - .7); // No, I cannot math.
			}

			body[style*="background-color: rgb(255"] & {
				background-color: alpha(white, customBGOpacity * 1.5 - .7 );
			}
			body[style*="background-color: rgb(0"] & {
				background-color: alpha(black, customBGOpacity * 1.5 - .7 );
			}
		}
		
		
		
	}
	
	// Hide "Don't Miss What's Happening" SignUp banner. 
	// Not making it an option, there is already an non-intrusive card that asks you sign-up anyways.
	#layers:first-child > [class="css-1dbjc4n r-aqfbo4 r-1p0dtai r-1d2f490 r-12vffkv r-1xcajam r-zchlnj"]:first-child {
		display: none;
	}
	
	if not themeColor == #1da1f2 {
		.r-18z3xeu, // Orange
 		.r-urgr8i,  // Blue 
		.r-1vkxrha, // Yellow
		.r-1dgebii, // Pink
		.r-1qqlz1x, // Purple
		.r-b5skir   // Green
		{
			background-color: themeColor;
		}
		.r-1qkqhnw, // Orange
		.r-1n1174f, // Blue
		.r-61mi1v,  // Yellow
		.r-daml9f,  // Pink
		.r-xfsgu1,  // Purple
		.r-nw8l94,  // Green
 		{
			color: themeColor;
		}
	}
	
	
	if revertFont {
		.r-37j5jr {
			font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
		}
		header nav .r-16dba41 { // I don't think I can change it back to the theme color, this is the best I can do for now.
			font-weight: 600;
		}
	}
	
	if fullWidthMedia != "Default" {
		article [class*="css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci"] > div:last-child > div {
			&:first-child { // Set a min-height to the text so the images don't cover PFP's
				min-height: 1em;
			}
			&:nth-last-child(2) { // Media
				& > div > div > .r-1ny4l3l.r-1867qdf.r-1udh08x:not([data-testid="card.wrapper"]) {
					// margin-top: .5em;
					if fullWidthMedia == "Larger" {
						margin-left: -60px;
					}
					if fullWidthMedia == "Full-Width" {
						margin-left: -78px;
						margin-right: -18px;
						if columnBG {
							border-radius: 0;
							img {
								border-radius: 0;
							}
						}
						
					}
				}
			}
		}
	}
	
	
	if moveHeader {
		@media only screen and (min-width: 1001px) {
			[data-testid="primaryColumn"] > div > div:first-child {
				border: 0 !important;
				border-radius: 0 0 16px 16px !important;
			}
			main > div > div > div.r-1wtj0ep .css-1dbjc4n [class="css-1dbjc4n r-1h3ijdo r-136ojw6"] {
				width: 352px;
				margin-left: auto;
				margin-right: -382px;
				margin-bottom: -54px;
				background: none !important;
				border-radius: 0 0 16px 16px !important;
				overflow: hidden;
			}
			.css-1dbjc4n [class="css-1dbjc4n r-1h3ijdo r-136ojw6"] > div > [class*="r-1h3ijdo r-ymttw5"] {
				background: none !important;
			}
			
			// Fix tweet padding from top of page 
			[style*="position: absolute; width: 100%; transform: translateY(0px);"] article {
				// padding-top: 15px;
			}
			
			// Sidebar padding
			[data-testid="sidebarColumn"] [class="css-1dbjc4n r-vacyoi r-ttdzmv"] {
				padding-top: 60px !important;
			}
			// Search Bar
			[data-testid="sidebarColumn"] > .css-1dbjc4n > .css-1dbjc4n [class*="r-15ysp7h r-1xcajam r-ipm5af"]::before {
				content: "";
				background-color: inherit;
				width: 100%;
				height: 100px;
				position: absolute;
				bottom: -23px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}
			[data-testid="sidebarColumn"] [class*="r-15ysp7h r-1xcajam r-ipm5af"] {
				top: 52px !important;
				height: 20px;
				min-height: unset !important;
				align-items: flex-start !important;
				overflow: visible;
				z-index: 2;
			}
			@media only screen and (max-width: 1090px) and (min-width: 991px) {
				.css-1dbjc4n [class="css-1dbjc4n r-1h3ijdo r-136ojw6"] {
					width: 290px !important;
					margin-right: -311px !important;
				}
			}
	}
	if uncrop {
        article [class*="css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci"] > div:last-child > div:nth-last-child(2) > [id] > [class="css-1dbjc4n"] a.css-4rbku5 > .r-1adg3ll {
            &, .r-u8s1d[data-testid="tweetPhoto"] {
                min-height: 283px; // Prevent *some* of the content jumping
            }
            .r-13qz1uu,
            .r-13qz1uu .r-u8s1d,
            .css-9pa8cd {
                padding-bottom: 0 !important;
                position: relative !important;
                height: auto !important;
                width: 100%;

                max-width: 100%;
                margin: auto !important;
                opacity: 1;
                if maxHeight {
                    max-height: calc(90vh - 55px) !important; /* -55px is height of the header */
                    background-size: contain !important;
                    object-fit: contain !important;
                }
            }
            .r-13qz1uu [style*="background-image: url"] {
                position: absolute !important;
                width: 100%;
                max-width: 100%;
                min-height: 100%;
                margin: auto !important;
                opacity: .8 !important;
                background-size: cover !important;
                filter: blur(30px);
                transform: scale(1.2);
                + img {
                    opacity: 1 !important;
                }
            }
            
        }
	}
	if resizeSidebar {
        [class="css-1dbjc4n r-18u37iz r-1pi2tsx r-11yh6sk r-buy8e9 r-bnwqim r-13qz1uu"] {
            [aria-roledescription="carousel"] {
                width: 100vw;
                max-width: 100%;
            }
            & > div:last-of-type:not(:first-child) {
                flex-grow: 1;
                max-width: 600px;
            }
        }
	}
	if not removeImageBar {
		.css-1dbjc4n.r-1pi2tsx.r-11yh6sk.r-buy8e9.r-bnwqim.r-13qz1uu > .css-1dbjc4n.r-13awgt0.r-184en5c + .css-1dbjc4n.r-1kihuf0.r-13qz1uu {
			display: none;
		}
	}
	if not noTrends {
		[data-testid="sidebarColumn"] section.css-1dbjc4n > .css-4rbku5.css-901oao.r-4iw3lz.r-1xk2f4g.r-109y4c4.r-1udh08x.r-wwvuq4.r-u8s1d.r-92ng3h + .css-1dbjc4n {
			display: none;
		}
		[data-testid="sidebarColumn"] [class*="r-1bro5k0 r-1udh08x"] ~ .r-1uaug3w {
			border-top: 0;
			border-bottom: 0;
		}
	}
	if not noFollowBox {
		[data-testid="sidebarColumn"] [class*="r-1bro5k0 r-1udh08x"] {
			display: none !important;
			& ~ .r-1uaug3w {
				border-top: 0;
				border-bottom: 0;
			}
		}
	}
	
	
	
	
	if not noMessagesBox {
		[class*="css-1dbjc4n r-173mn98"][class*="r-c67a83 r-1qk6wnv"][class*="r-1mf7evn r-hvns9x"] {
			display: none;
		}
	}
	
	if not hideTweetBoxTL {
		[data-testid="primaryColumn"] > div > .css-1dbjc4n.r-184en5c:nth-child(2) {
			display: none;
			+ div {
				background: none !important;
				border: none !important;
			}
		}
	}
	
	if not hideTLFollow {
        main [data-testid="primaryColumn"] h1[aria-level="1"] + div [style*="position: absolute; width: 100%; transform: translateY("] {
            .r-1wtj0ep.r-1f1sjgu,                   // Headings
            [data-testid="UserCell"],               // Users
            [aria-labelledby*="accessible-list-"],  // Topics to follow
            [href*="/i/c"],                         // Show More
            .r-1p6iasa.r-109y4c4                    // Spacers
            {
                display: none;
                // opacity: .5; // Testing
            }
        }
        
		
	}
	
	if not hideSpacers {
		.r-tbmifm {
			display: none;
		}
	}
	
	
	if noBorder == "keep" || noBorder == "Hide" {
		*:not(.r-1xl5njo):not(.css-1dbjc4n[aria-label] > div > div > div):not(.r-6t5ypu) {
			border-color: transparent !important;
		}
		a.css-4rbku5 > .r-1adg3ll .css-9pa8cd {
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			
		}
	}
	if noBorder == "Hide" {
		*:not(.r-1xl5njo):not(.r-6t5ypu) {
			border-color: transparent !important;
			border-bottom: 0 !important;
		}
	}
	
	if columnBG {
		body[style*="background-color: rgb(21"],
		body[style*="background-color: rgb(21"] [data-testid="sidebarColumn"] > .css-1dbjc4n > .r-1hycxz [class*="r-ipm5af r-1hycxz r-136ojw6"],
		body[style*="background-color: rgb(21"] [data-testid="sidebarColumn"] > .css-1dbjc4n > .r-1hycxz [class*="r-ipm5af r-1hycxz r-136ojw6"]::before{ 
			background-color: #10171e !important;
		}
		
		body[style*="background-color: rgb(255"],
 		body[style*="background-color: rgb(255"] [data-testid="sidebarColumn"] > .css-1dbjc4n > .r-1hycxz [class*="r-ipm5af r-1hycxz r-136ojw6"],
 		body[style*="background-color: rgb(255"] [data-testid="sidebarColumn"] > .css-1dbjc4n > .r-1hycxz [class*="r-ipm5af r-1hycxz r-136ojw6"]::before {
			background-color: #e6ecf0 !important;
		}
		body[style*="background-color: rgb(0"],
 		body[style*="background-color: rgb(0"] [data-testid="sidebarColumn"] > .css-1dbjc4n > .r-1hycxz [class*="r-ipm5af r-1hycxz r-136ojw6"],
		body[style*="background-color: rgb(0"] [data-testid="sidebarColumn"] > .css-1dbjc4n > .r-1hycxz [class*="r-ipm5af r-1hycxz r-136ojw6"]::before {
			background-color: rgb(8,8,8) !important;
		}
	}
	if bgBanner {
		[class="css-1dbjc4n r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010"] > .css-1dbjc4n.r-1niwhzg.r-vvn4in.r-u6sd8q.r-4gszlv.r-1p0dtai.r-1pi2tsx.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af.r-13qz1uu.r-1wyyakw[style*="https://pbs.twimg.com/profile_banners"] {
			position: fixed !important;
			height: 100vh !important;
			width: 100vw !important;
			top: 0;
			left: 0;
			opacity: .1 !important;
			z-index: -99999;
			pointer-events: none;
			filter: blur(10px);
			object-fit: cover;
			background-size: cover !important;
		}
		a.css-4rbku5 > .r-1adg3ll .css-9pa8cd {
			opacity: 1;
		}
	}

	
	if not followersCount {
		[href$="/followers"] {
			display: none !important;
		}
	}
	if not likesCount {
		[data-testid="like"] span, [data-testid="unlike"] span,
 		[href$="/likes"] {
			display: none !important;
		}
	}
	if not retweetsCount {
		[data-testid="retweet"] span, [data-testid="unretweet"] span,
 		[href$="/retweets"], [href$="retweets/with_comments"] {
			display: none !important;
		}
	}
	if not commentsCount {
		[data-testid="reply"] span {
			display: none !important;
		}
	}
	if not analyticsButton {
		[href$="/analytics"] {
			display: none;
		}
	}
	
	
	
	
	
	[class="css-1dbjc4n r-1wbh5a2 r-dnmrzs"] .r-sdzlij, [class="css-1dbjc4n r-1wbh5a2 r-dnmrzs"] .r-sdzlij img,
	[class*="r-f6ebdl r-sdzlij r-1phboty r-14f9gny r-1loqt21 r-1gzrgec r-cnkkqs r-zjg7tu r-mtrfb5 r-1ny4l3l r-1udh08x r-o7ynqc r-6416eg r-1xce0ei"],
	[class="css-1dbjc4n r-sdzlij r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010"] {
		border-radius: avatarRadius !important;
		transition: border-radius .5s, transform .5s;
	}
	
	if moreAnim {
		
		
		@keyframes fadeIn {
			from { opacity: 0 }
			to   { opacity: 1 }
		}
		@keyframes slideUp {
			from { transform: translateY(10px); opacity: 0 }
			to   { transform: translateY(0px); opacity: 1 }
		}
		@keyframes bounceIn {
			0% { transform: scale(1.1); opacity: 0 }
			30% { transform: scale(.99); opacity: 1 }
			60% { transform: scale(1.005); opacity: 1 }
			100%   { transform: scale(1); opacity: 1 }
		}
		@keyframes scaleIn {
			from { transform: scale(.98); opacity: 0; }
			to { transform: none; opacity: 1; }
		}
		
		
		article > * {
			animation: fadeIn .7s;
		}
		[data-testid="primaryColumn"] > div > div > div:not([data-testid="titleContainer"]),
		{
			animation: slideUp .7s;
			if moveHeader {
				&.r-136ojw6.r-1loqt21 {
					animation: none !important;
				}
			}
		}
		
		.r-xnswec, .r-qo02w8, .r-1upvrn0 {
			animation: scaleIn .3s;
		}
		
		.r-g6jmlv,
 		[class="css-1dbjc4n r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010"] > .css-1dbjc4n.r-1niwhzg.r-vvn4in.r-u6sd8q.r-4gszlv.r-1p0dtai.r-1pi2tsx.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af.r-13qz1uu.r-1wyyakw[style*="https://pbs.twimg.com/profile_banners"],
		{
			animation: bounceIn .5s;
		}
		
		
		*:not(.r-1xl5njo):not(.r-1pi2tsx) {
			transition: border .5s, transform .2s;
		}
		body,
		.css-1dbjc4n [class="css-1dbjc4n r-1h3ijdo r-136ojw6"], .css-1dbjc4n [class="css-1dbjc4n r-1h3ijdo r-136ojw6"] > div > .r-yfoy6g,
		[data-testid="sidebarColumn"] > .css-1dbjc4n > [class*="css-1dbjc4n r-1xcajam r-ipm5af"]::before,
		[data-testid="sidebarColumn"] [class*="r-1xcajam r-ipm5af r-1hycxz r-136ojw6"],
		[class="css-1dbjc4n r-173mn98 r-18rd0c5 r-1ff5aok"],
		[class="css-1dbjc4n r-yfoy6g r-18u37iz r-drjvcx r-ripixn r-13qz1uu"],
		[class="css-1dbjc4n r-12vffkv"] nav > a:nth-child(2),
		[class*="r-o4zss7 r-rull8r r-qklmqi r-1d2f490 r-1xcajam r-zchlnj r-1gn8etr"],
 		article, button, a {
			transition: background .3s, margin .3s, padding .5s, width .5s, top .3s, left .3s, bottom, .3s, right .3s, height .5s, transform .5s !important;
		}
		

 		img:active, [style*="background-image: url"]:active, {
			transform: scale(.99) !important;
			transition: transform .2s !important;
			border-radius: 16px;
		}
		[role="button"]:active {
			transform: scale(.95) !important;
		}
		
		
	}
	
	
	
	if noBorder == "Hide" && ! columnBG {
		div[style*="position: absolute; width: 100%; transform: "] > div {
			border-radius: 16px !important;
			overflow: hidden;
		}
        
	}
	
}


@-moz-document domain("mobile.twitter.com") {
    if centerTweet {
        #layers > div > .r-12vffkv:first-child {
            z-index: 2;
            aside.r-12vffkv:first-child {
                & > .r-emu48i.r-yajhfi {
                    bottom: -45px;
                    right: unset;
                    left: unset;
                    margin: auto;
                    if largerBottomBar {
                        bottom: -65px;
                    }
                }
            }
        }
		
		[class="css-1dbjc4n r-12vffkv"] nav > a:nth-child(2) {
			margin-right: 80px;
		}
	}
	if largerBottomBar {
		[class*="r-18u37iz r-drjvcx r-ripixn r-13qz1uu"] {
			height: 70px !important;
		}
	}
	if bottomHeader {
        [data-testid="primaryColumn"] {
            padding-top: 50vh;
        }

        header {
            .r-yfoy6g {
                background: none;
            }
        }
        header > div::before {
            content: "";
            position: absolute;
            inset: 0;
            bottom: -100px;
            top: -40px;
            background: linear-gradient(transparent, #15202b, #15202b);
            z-index: -2;
        }
		header[class="css-1dbjc4n r-lrvibr r-1g40b8q"] > [class*="r-o4zss7 r-rull8r r-qklmqi r-1d2f490 r-1xcajam r-zchlnj r-1gn8etr"] {
			bottom: 50px;
			top: unset;
			animation: none !important;
			transition: bottom .2s, top .5s !important;
			transform: none !important;
			if largerBottomBar {
				bottom: 70px;
			}
			&.r-1yse23k {
				bottom: -55px;
				if largerBottomBar {
					bottom: 20px;
				}
			}
			if not centerTweet {
				padding-right: 95px !important;
			}
			[class="css-1dbjc4n r-150rngu r-yfoy6g r-1p0dtai r-1d2f490 r-1rnoaur r-1r851ge r-1xcajam r-zchlnj r-hbs49y"] {
				top: 0 !important;
				margin-bottom: 155px;
			}
		}
		header[class="css-1dbjc4n r-lrvibr r-1g40b8q"] {
			order: 2;
		}
	}
    
}














