@media (min-width: 976px) {
  #soapbox nav.bg-white {
    height: 64px;
  }
  #soapbox nav.bg-white [class="flex-1 flex items-center lg:items-stretch space-x-4 justify-center lg:justify-start"] {
    display: contents;
  }
  #soapbox nav.bg-white [class="flex-1 flex items-center lg:items-stretch space-x-4 justify-center lg:justify-start"] > a {
    width: 44px;
    justify-content: center;
  }
  #soapbox nav.bg-white [class="flex-1 hidden lg:flex justify-center px-2 lg:ml-6 lg:justify-start items-center"] {
    justify-content: flex-end;
  }
  #soapbox nav.bg-white [class="flex-1 hidden lg:flex justify-center px-2 lg:ml-6 lg:justify-start items-center"] [class="max-w-xl w-full lg:max-w-xs hidden lg:block"] {
    width: 230px;
  }
  #soapbox nav.bg-white [class="absolute inset-y-0 right-0 flex items-center pr-2 lg:static lg:inset-auto lg:ml-6 lg:pr-0 space-x-3"] {
    margin-left: 10px !important;
  }
}
@media (min-width: 976px) and (prefers-reduced-motion: no-preference) {
  nav.bg-white {
    transition: height 0.2s cubic-bezier(0, 0, 0, 1.2), background 0.2s, box-shadow 0.2s, transform 0.3s cubic-bezier(0, 0, 0, 1.4);
  }
}
@media (min-width: 976px) and (min-width: 1440px) {
  nav.bg-white {
    background: none !important;
    box-shadow: none;
    transform: translateY(10px);
    height: 10px !important;
  }
}